:root {
  --primary-color: rgb(44, 96, 164);
  --white-color: #fff;
  --black-color: rgb(31, 32, 37);
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--black-color);
}

h1 {
  font-size: 24px;
  font-weight: 700;
}
